*{
    background-color: beige;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    height: 540px;
    width: 300px;  
    background-color: rgb(11, 11, 11);
    border: 1px solid red;
    margin-top: 125px;
    flex-direction: column;
    border-radius: 5px;
}
.details{
    height: 25px;
    background-color: rgb(37, 55, 59);;
}
.remove {
    display: flex;
    
    justify-content: space-between;
}
.backspace, .clear{
    background-color: rgb(17, 43, 48);
}
.display{
    height: 130px;
    width: auto;
    background-color:rgb(37, 55, 59);;
    margin: 5px;
    border-radius: 4px;
}
.first ,.first ~ div{
    display: flex;
    justify-content: center;
}
button{
    height: 75px;
    width: 75px;
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    background-color: rgb(47, 68, 73);
    border-radius: 4px;
    font-family: exo;
    border: 2px solid rgb(71, 69, 69);
    cursor: pointer;
    color: rgb(222, 222, 232);
}
button:hover{
    background-color: rgb(17, 43, 48);
}
